.projects-container {
    min-height: 50vh;
    background-color: var(--tan);
}

.projects {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    justify-content: space-evenly;
}

.projects-card {
    background-color: white;
    margin-top: 1rem;
    width: 30%;
    padding: 14px;
    margin: 10px;
    border: 1px solid white;
    border-radius: 5px;
    color: var(--bg-2);
}

.project-link {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.project-link a {
    color: var(--purple);
    text-decoration: underline;
}

.project-link a:hover {
    color: var(--sage);
}

@media screen and (max-width: 768px) {
    .projects {
        flex-wrap: wrap;
        margin-top: 1rem;
    }

    .projects-card {
        width: 48%;
        margin: 10px 10px 0 0;
    }
}

@media screen and (max-width: 425px) {
    .projects-card {
        width: 93%;
        margin: 10px 0;
    }

    .projects {
        margin-top: 2rem;
    }

    .container {
        padding: 1rem;
    }
}

@media screen and (max-width: 320px) {
    .projects {
        margin-top: 1rem;
    }
}