.projects-container {
    min-height: 50vh;
}

.projects {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    justify-content: space-evenly;
}

.projects-card {
    background-color: #282419;
    margin-top: 1rem;
    width: 30%;
    padding: 14px;
    margin: 10px;
}

@media screen and (max-width: 768px) {
    .projects {
        flex-wrap: wrap;
        margin-top: 1rem;
    }

    .projects-card {
        width: 48%;
        margin: 10px 10px 0 0;
    }
}

@media screen and (max-width: 425px) {
    .projects-card {
        width: 93%;
        margin: 10px 0;
    }

    .projects {
        margin-top: 2rem;
    }

    .container {
        padding: 1rem;
    }
}

@media screen and (max-width: 320px) {
    .projects {
        margin-top: 1rem;
    }
}